<!DOCTYPE html>
<html>
<head>
<!-- Chart should be below here...  -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/ >
<title>Smoothed D3.js Radar Chart</title>
<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

<style>
  body {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;
    fill: #242424;
    text-align: left;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    cursor: default;
  }

  .legend {
    font-family: sans-serif;
    fill: #333;
  }

  .tooltip {
    fill: #333;
  }
</style>

</head>
  <body>

    <div class="radarChart"></div>
    <script src="radarChart.js"></script>
    <script>
      //////////////////////////////////////////////////////////////
      //////////////////////// Set-Up //////////////////////////////
      //////////////////////////////////////////////////////////////
      var margin = {top: 100, right: 100, bottom: 100, left: 100},
        width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
        height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

      //////////////////////////////////////////////////////////////
      ////////////////////////// Data //////////////////////////////
      //////////////////////////////////////////////////////////////
      var data = [
            [//Environmental
            {axis:"Environmental",value:0.22},
            ],[//Social
            {axis:"Social",value:0.27},
            ],[//Governance
            {axis:"Governance",value:0.26},            ]
          ];
      //////////////////////////////////////////////////////////////
      //////////////////// Draw the Chart //////////////////////////
      //////////////////////////////////////////////////////////////
      var color = d3.scale.ordinal()
        .range(["#EDC951","#CC333F","#00A0B0"]);

      var radarChartOptions = {
        w: width,
        h: height,
        margin: margin,
        maxValue: 0.5,
        levels: 5,
        roundStrokes: true,
        color: color
      };
      //Call function to draw the Radar chart
      RadarChart(".radarChart", data, radarChartOptions);
    </script>

<%= form_tag calculate_investors_path, multipart: true do %>

    <% @investors.each do |investor| %>
    <div class= <%= investor.div_name(investor.description) %> >
        <div><%= check_box_tag('investor_ids[]', investor.id) %></div>
        <div><%= investor.description %></div>
        <div><%= investor.e %></div>
        <div><%= investor.s %></div>
        <div><%= investor.g %></div>
        <div><%= investor.div_name(investor.description)   %></div>
     </div>
    <% end %>

<input type='submit'></input>
<% end %>

<div>
<h3>Import a CSV File</h3>
  <%= form_tag import_investors_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

<div><%= "Your companies are #{$companies}. E:#{$e_average}    S:#{$s_average}    G:#{$g_average}. Total Impact Score:#{$total_impact}" %> </div>

  </body>
</html>

<%= link_to 'Back to ESG Profile', profiles_path %>
