<!DOCTYPE html>
<html>
<body>
<%= form_tag calculate_investors_path, multipart: true do %>

    <% @investors.each do |investor| %>
    <div class= <%= investor.div_name(investor.description) %> >
        <div><%= check_box_tag('investor_ids[]', investor.id) %></div>
        <div><%= investor.description %></div>
        <div><%= investor.e %></div>
        <div><%= investor.s %></div>
        <div><%= investor.g %></div>
        <div><%= investor.div_name(investor.description)   %></div>
     </div>
    <% end %>

<input type='submit'></input>
<% end %>

<div>
<h3>Import a CSV File</h3>
  <%= form_tag import_investors_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

<div><%= "Your companies are #{$companies}. E:#{$e_average}    S:#{$s_average}    G:#{$g_average}. Total Impact Score:#{$total_impact}" %> </div>

  </body>
</html>

<%= link_to 'Back to ESG Profile', profiles_path %>
