<!DOCTYPE html>
<html>
<head>
  <title>PartnerProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, message| %>
    <div><%= message %></div>
  <% end %>

<%= yield %>

<%= link_to('  ', destroy_user_session_path, :method => :delete)%>

</body>

</html>
